@model GamerInfo.Models.SaveCreate

@*@ViewData["GameID"]*@

<a data-target="#mySaveCreateModal" data-toggle="modal">Create New Save File</a>
<br/>
<div class="modal fade" id="mySaveCreateModal" tabindex="-1">
    <div class="modal-dialog" style="margin-top:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4>Create New Save File</h4>
                <hr/>
                @using (Html.BeginForm("Create", "Save", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    {
                        var idDeconstructedFromViewData = (int)ViewData["GameID"];
                        Model.GameID = idDeconstructedFromViewData;
                        @Html.HiddenFor(model => model.GameID)
                    }

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.SaveTitle, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.SaveTitle, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SaveTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SaveInformation, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.SaveInformation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SaveInformation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Hours, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div style="text-align:center">
                                <input type="submit" value="Create" class="btn btn-default" style="background: #8C418D; border-color: #A54EA6; color: #E3E3E3" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

