@model GamerInfo.Models.Game

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    @if (TempData.ContainsKey("FailResult"))
    {
        <div class="alert alert-danger fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["FailResult"]
        </div>
    }
    <section>
        <image src="@Html.DisplayFor(model => model.CoverID)" />
        <h2>
            @Html.DisplayFor(model => model.Name)
        </h2>
        <p>
            @Html.DisplayFor(model => model.Genre) --
            @Html.DisplayFor(model => model.AgeRating) --
            @Html.DisplayFor(model => model.ReleaseDate)
        </p>
        <h5>
            @Html.DisplayFor(model => model.Summary)
        </h5>
    </section>
</div>
<p>
    <a data-target="#myEditModal" data-toggle="modal">Edit Game</a> |
    <a data-target="#myDeleteModal" data-toggle="modal">Remove Game</a> |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="modal" id="myEditModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Edit")
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myDeleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Delete")
            </div>
        </div>
    </div>
</div>